* {
	padding: 0;
	margin: 0;
	font-size: 0;
}

body{
    background: #000;
}

/*.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style-type: none;
	box-sizing: border-box;
}

.item {
	width: 20%;
}

.item video {
	width: 100%;
}*/

